<% content_for :title, "Editing pet breed" %>

<h1>Editing pet breed</h1>

<%= render "form", pet_breed: @pet_breed %>

<br>

<div>
  <%= link_to "Show this pet breed", @pet_breed %> |
  <%= link_to "Back to pet breeds", pet_breeds_path %>
</div>
