<p style="color: green"><%= notice %></p>

<% content_for :title, "Pet breeds" %>

<h1>Pet breeds</h1>

<div id="pet_breeds">
  <% @pet_breeds.each do |pet_breed| %>
    <%= render pet_breed %>
    <p>
      <%= link_to "Show this pet breed", pet_breed %>
    </p>
  <% end %>
</div>

<%= link_to "New pet breed", new_pet_breed_path %>
