<% content_for :title, "New pet breed" %>

<h1>New pet breed</h1>

<%= simple_form_for [@pet_species, @pet_breed], url: "/pet_species/#{@pet_species.id}/pet_breeds" do |f| %>
  <%= f.input :name %>
  <%= f.button :submit %>
<% end %>

<br>

<div>
  <%# link_to "Back to pet breeds", pet_breeds_path %>
</div>
