.navbar-lewagon {
  justify-content: space-between;
  background: #0179a1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.color-font {
  color: #fdbb63;
  font-weight: bold;
}