<% content_for :title, "Editing pet specy" %>

<h1>Editing pet specy</h1>

<%= render "form", pet_species: @pet_species %>

<br>

<div>
  <%= link_to "Show this pet specy", "/pet_species/#{@pet_species.id}" %> |
  <%= link_to "Back to pet species", pet_species_path %>
</div>
