<p style="color: green"><%= notice %></p>

<% content_for :title, "Pet species" %>

<h1>Pet species</h1>

<div id="pet_species">
  <% @pet_species.each do |pet_species| %>
    <p>
      <%= pet_species.name %>
      <%= link_to "Show this pet specy", "/pet_species/#{pet_species.id}" %>
    </p>
  <% end %>
</div>

<%= link_to "New pet specy", '/pet_species/new' %>
